<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <meta name="description" content="The programming quotes database." />
        <meta name="keywords" content="programming, quotes, database, coding,
            hacking, geek, nerd" />

        <title>progQuotes - The programming quotes database.</title>
    </head>
    <body>
        <h1>progQuotes</h1>
        <h2>The programming quotes database.</h2>

        {% block content %}{% endblock %}
    </body>
</html>
