<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <meta name="description" content="The programming quotes database." />
        <meta name="keywords" content="programming, quotes, database, coding,
            hacking, geek, nerd" />

        <title>progQuotes - The programming quotes database.</title>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    </head>
    <body>
        <h1>prog<span class="drop-cap">Q</span>uotes</h1>
        <h2>The programming quotes database.</h2>

        {% block content %}{% endblock %}

        <footer>&copy; <a href="http://rdegges.com">Randall Degges</a> <a
            href="https://twitter.com/#!/rdegges">(@rdegges)</a></footer>
    </body>
</html>
